@font-face {
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono-Regular.ttf') format('ttf');
    /* Ajoutez d'autres formats si nécessaire */
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: RobotoMono;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(113, 126, 146, 1), rgba(39, 35, 67, 0));
    margin: 0;
}


.classement {
    width: 50%;
    background-color: #E3F6F5;
    border-top: 2px solid black;
    border-radius: 0 0 20px 20px;
    max-height: 500px;
    overflow-y: auto;
}



.interligne{
    border-bottom: 1px solid black;
}

.table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 10px;
}

.titre {
    text-align: center;
}

.header-table {
    border-bottom: 2px solid black;
}

/* Appliquer une bordure noire solide à toutes les lignes, sauf à la première */
tr:not(:first-child) {
    border-top: 1px solid black;
}

/* Ajouter une bordure inférieure solide noire à la première ligne du tableau */


/* Styler les cellules th et td */
th, td {
    padding: 24px;
    text-align: center;
}

.table-titre1 {
    padding: 0px;
}
tr.interligne td {
    border-bottom: 1px solid black;
}

.titre1 {
    display: flex;
    width: 50%;
    height: auto;
    background-color: #E3F6F5;
    border-radius: 20px 20px 0 0;
    justify-content: space-around;
}
.titre1 h3{
   margin-left: 70px;
}
.trophee-sportif{
    position: absolute;
    width: 85px;
    height: 85px;
    left: 190px;
    top: 80px;

}

.titre-classement{
    display: none;
}


@media screen and (max-width: 1000px) {
    .classement {
        width: 90%;
        max-height: 60%;
    }
    .titre1 {
        width: 90%;
    }
    .trophee-sportif{
        bottom: 0;
    }
    .trophee-classement{
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        height: 10%;
        padding-bottom: 20px;
    }
    .titre-classement{
        flex: 2;
        display: inline;
        font-size: 40px;
        margin-left: 15px;
    }
    .trophee-sportif{
        flex: 1;
        position: inherit;

    }
    .tabl-classement{
        visibility: hidden;
    }
}