@font-face {
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono-Regular.ttf') format('ttf');
    /* Ajoutez d'autres formats si nécessaire */
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: RobotoMono;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    margin: 0;
    /* Réinitialiser la marge par défaut du body */
}

.container {
    width: 100%;
    height: 100vh;
    /* Utilise toute la hauteur de l'écran */
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(112, 126, 146, 1), rgba(39, 35, 67, 0.11));
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.container-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bouton {
    cursor : pointer;
    margin-top: 20%;
    background-color: #E3F6F5;
    min-width: 240px;
    height: 50px;
    border-width: 0px;
    position: relative;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #272343;
    font-size: 200%;
    z-index: 3;
    margin: 10%;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.centrer {
    position: absolute;
    text-align: center;
    width: 100%;
}

.explication-difficulte {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 16%;
    left: 0;
    right: 0;
}

.text-container {
    z-index: 1;
    flex: 1;
    width: 30%;
    height: auto;
    min-height: fit-content;
    background-color: #E3F6F5;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    margin-right: 20px; 
    margin-left: 20px; 
    text-align: center;
}

h3 {
    font-size: 25px;
    margin-bottom: 10px; /* Ajouter un espacement sous le titre */
}

p {
    font-size: 17px;
    margin: 0; /* Réinitialiser les marges du paragraphe */
    padding: 10px; /* Ajouter un espacement interne pour le texte */
    max-height: 100%; /* Empêcher le texte de déborder de la case */
    overflow: auto; /* Ajouter une barre de défilement en cas de débordement */
}

.title {
    font-size: 60px;
    color: black;
    font-weight: bold;
    display: none;
    text-align: center;
    z-index: 2;
    position: relative;
}

.bouton:hover {
    background-color: #272343;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .text-container {
        display: none;
    }
    .bouton {
        min-width: fit-content;
        min-height: fit-content;
        margin-top: 0%;
        height: 100px;
        width: 500px;
        font-size: 50px;
        cursor: pointer;
    }
    .container-btn {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    h3 {
        font-size: 30px;
    }

    p {
        font-size: 22px;
        padding: 20px; /* Ajuster l'espacement interne pour le texte */
    }

    .title {
        display: block;
        color: black;
        margin-bottom: 100px;
        opacity: 1;
    }
    
}
