/* Import the RobotoMono font */
@font-face {
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono-Regular.ttf') format('ttf');
    /* Add other formats as needed */
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "RobotoMono";
    box-sizing: border-box;
}

.bdy {
    width: 100%;
    height: 100vh; /* Adjusted height */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

body{
    margin: 0;
    background: linear-gradient(rgba(112, 126, 146, 1), rgba(39, 35, 67, 0.11));
}

.game-over-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #E3F6F5;
    border-radius: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    width: 50%;
    min-height: 50%;
    height: fit-content;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#score {
    font-weight: bold;
    color: #0077cc;
}

button:hover {
    background-color: #005599;
}

#play-again {
    flex: 2;
    cursor: pointer;
    font-weight: bold;
    background-color: #272343a3;
    border-radius: 10px;
    margin-top: 20px;
    padding: 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.865);
    font-size: 20px;
    border : none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

#play-again:hover {
    background-color: #272343 ;
    cursor: pointer;
}

h1{
    flex: 3;
    font-size: 60px;
}

p{
    flex: 1;
    font-size: 30px;
}


@media only screen and (max-device-width: 480px) {
    body{
        margin: 0;
        background: linear-gradient(rgba(112, 126, 146, 1), rgba(39, 35, 67, 0.11));
    }
    .bdy{
        background: linear-gradient(rgba(112, 126, 146, 1), rgba(39, 35, 67, 0.11));
    }
    h1{
        font-size: 30px;
    }
}