@font-face {
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono-Regular.ttf') format('ttf');
    /* Ajoutez d'autres formats si nécessaire */
    font-weight: normal;
    font-style: normal;
}


* {
    box-sizing: border-box;
    font-family: RobotoMono;
}

body {
    font-size: 14px;
    margin: 0; /* Réinitialiser la marge par défaut du body */
}

.container {
    width: 100%;
    height: 100vh; /* Utilise toute la hauteur de l'écran */
    opacity: 1;
    position: relative;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(112, 126, 146, 1), rgba(39, 35, 67, 0.11));
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.header {
    width: 831px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 101px;
    left: 142px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}

.presentation {
    position: absolute;
    top: 100px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column; /* Aligner les éléments verticalement */
    align-items: center; /* Centrer verticalement */
}

.title {
    width: 779px;
    color: rgba(255, 255, 255, 1);
    margin: 0 auto; /* Centrer horizontalement */
    font-family: RobotoMono;
    max-width: 100%;
    font-size: 64px;
    opacity: 1;
}

.description {
    display: flex;
    justify-content: center;
    position: relative; /* Utilisez position relative ici */
    width: 594px;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    opacity: 1;
    margin-top: 20px; /* Ajoutez un espacement vertical entre les div */
    max-width: 100%;
}


.circle {
    width: 205px;
    height: 211px;
    background: url("../static/images/musicAcceuil.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 70%;
    left: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.coin-haut-gauche {
    position: absolute;
    top: 0;
    left: 0;
    width: 420px;
    height: 330px;
    transform: rotate(180deg);
}

.coin-bas-droit {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 406px;
    height: 236;
    z-index: -1;
}

.menu {
    width: 100%;
    height: 113px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.boutonJouer{
    width: 377px;
    height: 95px;
    position: absolute;
    top: 76%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 100px;
    padding: 0 20px;    
    text-align: center;
    background-color: #E3F6F5;
    color: #272343;
    font-size: 70px;
}

.bottom-circle {
    width: 377px;
    height: 95px;
    background: rgba(227, 246, 245, 1);
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 13px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 100px;
    overflow: hidden;
}

.bottom-rect {
    width: 289px;
    height: 67px;
    background: rgba(39, 35, 67, 1);
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 57px;
}

.login {
    width: 140px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 258px;
    left: 728px;
    font-size: 32px;
    opacity: 1;
    text-align: center;
}

.boutonJouer:hover{
    background-color: #272343;
    color: white;
    cursor: default;
}

@media only screen and (min-device-width: 480px) {
    
    
    .circle {
        display: none;
    }
    .coin-haut-gauche {
        display: none;
    }
    .coin-bas-droit {
        width: 30%;
        height: 30%;
    }
    .presentation {
        margin-top: 100px;
    }
    .boutonJouer{
        bottom: 10px;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}