@font-face {
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: RobotoMono, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    color: white; /* Texte en blanc */
}

.container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(112, 126, 146, 1), rgba(39, 35, 67, 0.11));
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: -1;
}

.angle {
    position: absolute;
    width: 420px;
    height: 330px;
    background-image: url('../images/angle.png');
    background-size: cover;
}

.top-left {
    top: 0;
    left: 0;
    transform: rotate(180deg);
}

.bottom-right {
    bottom: 0;
    right: 0;
}

.responsive-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.presentation {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.title {
    font-size: 64px;
    margin-bottom: 20px;
}

.description {
    font-size: 20px;
    margin-bottom: 40px;
}

.boutonJouer {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    border: none;
    border-radius: 100px;
    background-color: #E3F6F5;
    color: #272343;
    font-size: 36px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.boutonJouer:hover {
    background-color: #272343;
    color: white;
}

/* ... Autres règles CSS ... */

/* Styles pour les petits écrans */
@media screen and (max-width: 480px) {
    .top-left {
        display: none;
    }
    .description {
        font-size: 14px; /* Réduire la taille de la police pour les petits écrans */
        max-width: 90%; /* Ajuster la largeur du texte pour les petits écrans */
        margin: 0 auto; /* Centrer le texte horizontalement sur les petits écrans */
    }

    .title {
        font-size: 45px; /* Réduire la taille du titre pour les petits écrans */
    }
}