html, body {
    margin: 0;
    padding: 0;
}

.bdy {
    width: 100%;
    height: 100%;
}

.container-info-jeu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#piano{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

#ImgPiano{
    display: flex;
    height: 200px;
    width: 70vw;
}
.NoteDefault{
display: flex;
position: relative;
height: 200px;
width: 2.93vw;
background-color: white;
border: solid 1px black;
cursor: pointer;
}
/* .NoteDefault:hover{
    box-shadow:inset 0 0 20px 5px rgb(255, 115, 0);
    transition: background-color 0.3s;
}

.inner-div:hover{
    box-shadow: inset 0 0 20px 5px rgb(255, 115, 0);
    transition: background-color 0.3s;
} */


.NoteDieseDefault{
    display: flex;
    position: relative;
    height: 120px;
    width: 2.1vw;
    left: 1.9vw;
    background-color: black;
    z-index: 2;
    cursor: pointer;
    }
#ContainerPiano{
    position: relative;
    height: 0px;
    width: 0px;
    left: 0.18vw;
}
.input-note {
    width: 30px;
    height: 30px;
}

.playbtn {
    background-color: red;
    width: 100px;
    height: 100px;
}

.control-button {
    background: none;
    border: none;
    cursor: pointer;
}

#Replay{
    height: 100px;
}

.submit-buttons {
    display: flex;
    flex-direction: column; /* Aligner verticalement */
    align-items: center; /* Centrer horizontalement */
    text-align: center; /* Centrer le texte */
}
audio {
    width: 100%;
}

.btn-note {
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: #E3F6F5;
    border: 1px solid black;
    border-radius: 50px;
}

/* Ajout de cette ligne pour corriger le positionnement des boutons de réponse */
.choix {
    background-color: red;
    display: inline-block;
}
#4C{
    display: flex;
    position:relative;
    background-color: red;
    z-index: 1;
}
#4CT{
    display: flex;
    position:relative;
    background-color: red;
    height: 100px;
    z-index: 1;
}
#4D{
    display: flex;
    position:relative;
    background-color: red;
    z-index: 1;
}
#4DT{
    display: flex;
    position:relative;
    background-color: red;
    height: 100px;
    z-index: 1;
}
#4E{
    display: flex;
    position:relative;
    background-color: red;
    z-index: 1;
}
#4F{
    display: flex;
    position:relative;
    background-color: red;
    z-index: 1;
}
#4FT{
    display: flex;
    position:relative;
    background-color: red;
    z-index: 1;
}
#4G{
    display: flex;
    position:relative;
    background-color: red;
    z-index: 1;
}
#4GT{
    display: flex;
    position:relative;
    background-color: red;
    z-index: 1;
}
#4A{
    display: flex;
    position:relative;
    background-color: red;
    z-index: 1;
}
#4AT{
    display: flex;
    position:relative;
    background-color: red;
    z-index: 1;
}
#4B{
    display: flex;
    position:relative;
    background-color: red;
    z-index: 1;
}

#5C{
    display: flex;
    position:relative;
    background-color: red;
    z-index: 1;
}
#5CT{
    display: flex;
    position:relative;
    background-color: red;
    z-index: 1;
}
#5D{
    display: flex;
    position:relative;
    background-color: red;
    z-index: 1;
}
#5DT{
    display: flex;
    position:relative;
    background-color: red;
    z-index: 1;
}
#5E{
    display: flex;
    position:relative;
    background-color: red;
    z-index: 1;
}
#5F{
    display: flex;
    position:relative;
    background-color: red;
    z-index: 1;
}
#5FT{
    display: flex;
    position:relative;
    background-color: red;
    z-index: 1;
}
#5G{
    display: flex;
    position:relative;
    background-color: red;
    z-index: 1;
}
#5GT{
    display: flex;
    position:relative;
    background-color: red;
    z-index: 1;
}
#5A{
    display: flex;
    position:relative;
    background-color: red;
    z-index: 1;
}
#5AT{
    display: flex;
    position:relative;
    background-color: red;
    z-index: 1;
}
#5B{
    display: flex;
    position:relative;
    background-color: red;
    z-index: 1;
}

