{{define "base"}}
<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link href="../static/css/main.css" rel="stylesheet" />
    <link href="../static/css/navbar.css" rel="stylesheet" />
    
<link rel="stylesheet" href="./css/navbar.css" />

    <title>Page d'accueil</title>
  </head>

  <body>
    {{template "navbar" .}}
    <div class="container">
      <div class="background"></div>
      <img
        src="../static/images/angle.png"
        alt="Image d'angle"
        class="coin-haut-gauche"
      />
      <div class="reponsive-container">
        <div class="presentation">
          <div class="title">
            <span>BIENVENUE SUR SOLF’EZ</span><br />
          </div>
          <div class="description">
            <span 
              >Vous avez toujours voulu apprendre à jouer au piano mais ne savez pas
              par où commencer ?<br />Vous voulez améliorer votre oreille musicale
              ?<br /><br />Solf'ez est ce qu'il vous faut !<br /><br />Apprenez de
              zéro ou perfectionnez vous, à votre rythme et en devinant la ou les
              note(s) de musiques entendues et jouez les sur le piano.</span
            >
          </div>
        </div>
        <div class="submit-buttons">
          <a href="/difficulte"
            ><button class="boutonJouer" type="button" value="Jouer">Jouer</button>
          </a>
        </div>
      </div>
      <div class="circle"></div>
      <img
        src="../static/images/angle.png"
        alt="Image d'angle"
        class="coin-bas-droit"
      />
    </div>
  </body>
</html>
{{end}}
