{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Classement</title>
    <link rel="stylesheet" href="../static/css/classement.css" />
    <link href="../static/css/navbar.css" rel="stylesheet" />
  </head>

  <body>
    {{template "navbar" .}}
    <script id="replace_with_navbar" src="./js/nav.js"></script>
    <div class="container">
      <img
        src="../static/images/angle.png"
        alt="Image d'angle"
        class="coin-haut-gauche"
      />
      <div class="trophee-classement">
        <img
          class="trophee-sportif"
          src="../static/images/trophee-sportif.png"
          alt=""
        />
        <h1 class="titre-classement">Classement</h1>
      </div>
      <div class="titre1">
        <h3 class="titre">Pseudo</h3>
        <h3 class="titre">Meilleur score</h3>
        <div class="tabl-classement">
          <h3 class="titre">Classement</h3>
        </div>
      </div>
      <div class="classement">
        {{range .Classement}}
        <table class="table">
          <tr class="interligne">
            <td>{{.Username}}</td>
            <td>{{.Score}}</td>
            <td>{{.Rank}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <img
        src="../static/images/angle.png"
        alt="Image d'angle"
        class="coin-bas-droit"
      />
    </div>
  </body>
</html>
{{end}}
