{{define "base"}}
<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link href="../static/css/difficulte.css" rel="stylesheet" />
    <link href="../static/css/navbar.css" rel="stylesheet" />
    <link
      rel="shortcut icon"
      href="../static/images/Logo.png"
      type="image/x-icon"
    />
    <title>Choix de la difficulte</title>
  </head>

  <body>
    {{template "navbar" .}}
    <div class="container">
      <div class="background"></div>
      <div class="title">Choisissez la difficulté</div>
      <div class="container-btn">
        <a href="/niveau-facile"
          ><input class="bouton" type="button" value="Niveau facile"
        /></a>
        <a href="/niveau-moyen"
          ><input class="bouton" type="button" value="Niveau moyen"
        /></a>
        <a href="/niveau-difficile"
          ><input class="bouton" type="button" value="Niveau difficile"
        /></a>
      </div>
      <div class="explication-difficulte">
        <a href="/niveau-facile">
          <div class="text-container">
          <br /><h3>Facile</h3>
          <br />
          <p>
            Devinez la note correspondant au son entendu et à la touche du piano
            qui s'allume !<br>Attention : il y a deux octaves, la 4ème et la 5ème.
            <br />Vous aurez à choisir parmi trois options via un qcm.<br /><br />Nombre
            de vies : 3<br />(après 3 erreurs, votre score redescend à 0)<br />
          </p></a>
        </div>
        <div class="text-container">
          <a href="/niveau-moyen"><br /><h3>Moyen</h3>
          <br />
          <p>
            Reconnaissez la note entendue et placez la au bon endroit sur le
            piano.<br />Vous pouvez sélectionner n'importe quelle note du piano
            parmi 2 octaves et ensuite validez votre choix.<br>Attention : ne mélangez pas la 4ème et la 5ème octave.<br /><br />Nombre de
            vies : 2<br />(après 2 erreurs, votre score redescend à 0)<br />
          </p></a>
        </div>
        <div class="text-container">
        <a href="/niveau-difficile"><br /><h3>Difficile</h3>
          <br />
          <p>
            Trouvez l'accord entendu et reproduisez le sur le piano !<br />Sélectionnez
            3 notes sur le piano puis validez votre choix.<br>Attention : il y a deux octaves, la 4ème et la 5ème.<br /><br />Nombre de
            vies : 1<br />(après une seule erreur, votre score redescend à 0)<br />
          </p></a>
        </div>
      </div>
    </div>
  </body>
</html>
{{end}}
