{{define "base"}}
<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link href="../static/css/difficulte.css" rel="stylesheet" />
    <link href="../static/css/navbar.css" rel="stylesheet" />
    <title>Choix de la difficulte</title>
  </head>

  <body>
    {{template "navbar" .}}
    <div class="container">
      <div class="background"></div>
      <div class="centrer">
        <h1 class="title">Choisissez la difficulté</h1>
        <a href="/niveau-facile"
          ><input class="bouton" type="button" value="Facile"
        /></a>
        <input
          class="bouton"
          style="margin-top: 120px"
          type="button"
          value="Moyen"
        />
        <input
          class="bouton"
          style="margin-top: 240px"
          type="button"
          value="Difficile"
        />
      </div>
      <div class="explication-difficulte">
        <div class="text-container">
          <h3>Facile</h3>
          <p>
            Une touche du piano s'alumera et le son de la note correspondante
            sera reproduit.<br />Pour trouver la bonne réponse un qcm sera
            afficher à l'écran.<br />Vie : 3
          </p>
        </div>
        <div class="text-container">
          <h3>Moyen</h3>
          <p>
            est simplement du faux texte employé dans la composition et la mise
            en page
          </p>
        </div>
        <div class="text-container">
          <h3>Difficile</h3>
          <p>
            Juste le son d'un accord que vous devez reproduir sur le piano.<br />Vie
            : 1
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
{{end}}
