{{define "base"}}
<!DOCTYPE html>
<html lang>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>niveau-difficile</title>
    <link rel="stylesheet" href="../static/css/loose.css" />
    <link href="../static/css/navbar.css" rel="stylesheet" />
  </head>
  <body>
    {{template "navbar" .}}
    
    <div class="bdy">
        <div class="game-over-container">
            <h1>Game Over</h1>
            <p>Votre score: <span id="score">{{.PreviousScore}}</span></p>
            <p><span id="score">{{.GameData.PreviousCorrectAnswer}}</span></p>
            <a href="/difficulte"><button id="play-again" >Play Again</button></a>
        </div>
    </div>
  </body>
</html>
{{end}}