{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile</title>
  <link rel="stylesheet" href="./static/style.css" />
  <link href="../static/css/navbar.css" rel="stylesheet" />
  <link rel="stylesheet" href="../static/css/profil.css">
</head>

<body style="padding: 0%; margin: 0;">
  {{template "navbar" .}}

  Page profil de {{.Username}} :
  <br>
  <img src="{{.ProfilePic}}" alt="" style="max-height: 250px" />

  <!-- <div>Inscrit depuis : </div></br> -->
  <div>Meilleur score : {{.HighestScore}}</div></br>
  <div>Nombre de parties jouées : {{.Statistics.TotalGamesPlayed}}</div>
  <div>Nombre de parties gagnées : {{.Statistics.TotalGamesWon}}</div>
  <div>Nombre de parties perdues : {{.Statistics.TotalGamesLost}}</div>
  <div>Temps passé à s'entraîner : </div>

<br>
  Changer de photo de profil :
  <form action="/profile" method="POST" enctype="multipart/form-data">
    <input type="file" name="profile_picture" required />
    <input type="submit" value="Ajouter la photo sélectionnée" />
  </form></br>
  <br>

  Changer de mot de passe <i>(ça marche pas encore)</i>:
  <form class="formulaire" action="/update" method="POST">
    <input
      class="input"
      type="password"
      name="oldpassword"
      placeholder="Entrer old password..."
      required
    />
    <input
      class="input"
      type="password"
      name="newpassword"
      placeholder="Nouveau mot de passe..."
      required
    />
    <input
      class="input"
      type="password"
      name="newpwdconfirm"
      placeholder="Nouveau mot de passe encore..."
      required
    />
    <div class="content1">
      
      <div class="login">
        <button class="btnconnexion">
          <a href="/update">Confirmer</a>
        </button>
      </div>
    </div>
  </form>

 <br>
  <span class="error">{{.Error}}</span>
<a href="/logout"><button type="submit">Se déconnecter</button></a>

  <form action="/delete-account" onSubmit="if(!confirm('Es-tu sûr.e de vouloir nous quitter ?')){return false;}"><button
      type="submit">Supprimer mon compte</button>
  </form>
</body>
</html>
{{end}}
